@tailwind base;
@tailwind components;
@tailwind utilities;

 #panel {
     width: 100%;
     height: 90vh;
     border: 1px solid #ccc;
     position: relative;
     overflow-y:hidden;
        /* Enable vertical scrolling */
 }

 #imagenFondo {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    object-fit: cover;
 }

 #zonaCarga {
     position: absolute;
     top: 0;
     left: 0;
     width: 100%;
     height: 100%;
     opacity: 0.5;
     cursor: pointer;
 }

 #botonSubir {
     margin-top: 20px;
 }

 .inline-flex.items-center.cursor-pointer.rounded-full.w-14.h-14.border.bg-white.hover:bg-blue-200.transition-colors.duration-500 {
     display: flex;
     /* Ensure 'flex' display for proper alignment */
     justify-content: center;
     /* Center content horizontally */
     align-items: center;
     /* Center content vertically */
 }

 .inline-flex.items-center.cursor-pointer.rounded-full.w-14.h-14.border.bg-white.hover:bg-blue-200.transition-colors.duration-500 .hidden {
     /* Hide the default file input styling */
     opacity: 0;
     position: absolute;
     pointer-events: none;
     width: 100%;
     height: 100%;
 }