@tailwind base;
@tailwind components;
@tailwind utilities;

 #panel {
     width: 100%;
     height: 90vh;
     border: 1px solid #ccc;
     position: relative;
     overflow-y:hidden;
 }

 #backgroundImage {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    object-fit:cover;
    background-size: cover;
    background-position: 0 90vh;
    
 }

  #svg-container {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: auto;
      object-fit: cover;
  }

 #botonSubir {
     margin-top: 20px;
 }

 .inline-flex.items-center.cursor-pointer.rounded-full.w-14.h-14.border.bg-white.hover:bg-blue-200.transition-colors.duration-500 {
     display: flex;
     justify-content: center;
     align-items: center;
 }

 .inline-flex.items-center.cursor-pointer.rounded-full.w-14.h-14.border.bg-white.hover:bg-blue-200.transition-colors.duration-500 .hidden {
     opacity: 0;
     position: absolute;
     pointer-events: none;
     width: 100%;
     height: 100%;
 }